<div *ngIf="isLoading; else App" class="launcher-icon">
  <img src="assets/icon.png" alt="soundBox" />
</div>

<ng-template #App>
  <div class="toggle-wrapper">
    <app-toggle (toggleValueEmitter)="extendedVersion = !extendedVersion"></app-toggle>
    <div class="extended-info" [ngClass]="{'active': extendedVersion }">Extended Version</div>
  </div>
  <div class="wrapper-cards" *ngIf="!extendedVersion; else ExtendedOnly">
    <div *ngFor="let sound of sounds">
      <sound-card
        [sound]="sound"
        (playingAudio)="pushToSoundList($event)"
      ></sound-card>
    </div>
  </div>

  <ng-template #ExtendedOnly>
    <div class="wrapper-cards">
      <div *ngFor="let sound of sounds">
        <sound-card
          *ngIf="sound.extended"
          [sound]="sound"
          [isExtendedVersion]="true"
          (playingAudio)="pushToSoundList($event)"
        ></sound-card>
      </div>
    </div>
  </ng-template>

  <div class="main-button">
    <button (click)="stopSounds()"><span>STOP</span></button>
  </div>
</ng-template>
