<div *ngIf="isLoading" class="launcher-icon">
  <img src="assets/icon.png" alt="soundBox" />
  <div class="gif-title">
    The Awesome Bocal Sound Box
  </div>
</div>

<div [hidden]="isLoading">
  <div class="wrapper-search">
    <input 
      class="input" 
      [ngModel]="searchInput"
      id="search-input"
      (keyup)="searchChange($event.target.value)"
      placeholder="Rechercher un son (Star Wars, Gitan, Énervé..)"
    >
    <button class="clear-button" *ngIf="hasSearchValue()" (click)="clearSearch()">✖</button>
  </div>
  <div class="wrapper-cards">
    <div *ngFor="let sound of displayedSounds || sounds">
      <sound-card
        [sound]="sound"
        (picturesLoading)="picturesLoading($event)"
        (playingAudio)="pushToSoundList($event)"
        (searchByTag)="searchByTag($event)"
      ></sound-card>
    </div>
  </div>

  <div class="main-button">
    <button (click)="stopSounds()"><span>STOP</span></button>
  </div>


<div class="windows-container" *ngIf="!playVideo; else gta">
  <div class="main">
    <button (click)="startGTA()" class="gta-button"></button>
    <div class="absolute-block">
      <img src="assets/windows/gta_exe.png" alt="gta.exe">
    </div>
  </div>
  <div class="windows"></div>
</div>

<ng-template #gta>
  <video class="gta" width="100%" height="100%" autoplay>
    <source src="assets/windows/GrandTechAuto.mp4" type="video/mp4">
  </video>
</ng-template>