<div *ngIf="loadingProgression < sounds.length - 1" class="launcher-icon">
  <img src="assets/icon.png" alt="soundBox" />
  <div class="gif-title">
    {{ lastGifLoaded }}
  </div>
</div>

<div [hidden]="loadingProgression < sounds.length - 1">
  <div class="wrapper-search">
    <input 
      class="input" 
      [ngModel]="searchInput"
      id="search-input"
      (keyup)="searchChange($event.target.value)"
      placeholder="Rechercher un son (Star Wars, Gitan, Énervé..)"
    >
    <button class="clear-button" *ngIf="hasSearchValue()" (click)="clearSearch()">✖</button>
  </div>
  <div class="wrapper-cards">
    <div *ngFor="let sound of displayedSounds || sounds">
      <sound-card
        [sound]="sound"
        (picturesLoading)="picturesLoading($event)"
        (playingAudio)="pushToSoundList($event)"
        (searchByTag)="searchByTag($event)"
      ></sound-card>
    </div>
  </div>

  <div class="main-button">
    <button (click)="stopSounds()"><span>STOP</span></button>
  </div>
</div>