.wrapper-cards {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin: 10px 5%;
}

.main-button {
  bottom: 15px;
  right: 15px;
  position: fixed;
  z-index: 3;
  button {
    width: 80px;
    height: 80px;
    border-radius: 150px;
    background-image: linear-gradient(to right, #ff854d, #ff3300);
    border: none;
    color: white;
    opacity: 0.9;
    transition: box-shadow 0.2s ease-in-out;
    &:active {
      box-shadow: 0px 0px 6px 5px #696969;
    }
  }
}

.launcher-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 250px;
  transform: translate(-50%, -50%);
  img {
    width: 250px;
    -webkit-animation: shadow-drop-center 0.5s cubic-bezier(0.47, 0, 0.745, 0.715)
      infinite alternate-reverse both;
    animation: shadow-drop-center 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) infinite
      alternate-reverse both;
  }
  display: flex;
  flex-direction: column;
  align-items: center;
}

@-webkit-keyframes shadow-drop-center {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 40px 0px rgba(119, 0, 0, 0.65);
    box-shadow: 0 0 40px 0px rgba(119, 0, 0, 0.65);
  }
}
@keyframes shadow-drop-center {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 40px 0px rgba(119, 0, 0, 0.65);
    box-shadow: 0 0 40px 0px rgba(119, 0, 0, 0.65);
  }
}

.toggle-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.extended-info {
  font-size: 14px;
  margin-top: 10px;
  color: grey;
}

.active {
  color: #ff854d;
}

.gif-title {
  color: #ff854d;
  margin-top: 10px;
  font-size: 18px;
}

.wrapper-search {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.input {
  width: 40%;
  height: 30px;
  padding: 10px;
  border-radius: 20px;
  font-size: 15px;
  color: #ff854d;
  border-style: solid;
  border-color: #ff854d !important;
}

.search-button {
  margin: 0px 10px;
  padding: 10px 15px;
  border-radius: 15px;
  background-image: linear-gradient(to right, #ff854d, #ff3300);
  border: none;
  color: white;
  font-size: 15px;
  cursor: pointer;
}